@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

:root {
  --basic-extra-dark: #2D3440;
  --basic-dark: #565C66;
  --basic-neutral: #B9B9B9;
  --basic-light: #E7E7E7;
  --basic-extra-light: #FCFCFC;
  --basic-white: #FFFFFF;
  --special-extra-bright: #FF2F64;
  --special-bright: #FF4A78;
  --special-neutral: #FF7799;
  --special-light: #FEAFC3;
  --special-exta-light: #FFCBD8;
  --special-blue: #69A9FF;
  --special-yellow: #FCC850;
  --status-error: #EA5454;
  --status-warning: #FD912E;
  --status-success: #00E484;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 1366px;
  min-height: 100%;
  color: #2D3440;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  background-color: var(--special-blue);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  flex-grow: 1;
  width: 1170px;
  margin: 0 auto;
}

.main-container a {
text-decoration: none;
color: inherit;
}

.heading-2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* навигация */

.navigation {
  width: 1170px;
  margin: auto;
  padding: 24px 0;
  display: flex;
  align-items: center;
  line-height: 20px;
}

.navigation a {
  text-decoration: none;
  color: #2D3440;
}

.navigation ul {
  list-style: none;
}

.navigation-left {
  margin-left: 16px;
  display: flex;
}

.navigation-left-item {
  padding: 8px 16px;
}

.navigation-right {
  max-width: 419px;
  display: flex;
  margin-left: auto;
  font-size: 14px;
}

.navigation-right-item {
  margin-left: 18px;
}

.navigation-right-phone {
  font-size: 16px;
  font-weight: 700;
}

/* слайдер */

.slider {
  margin-bottom: 80px;
}
.slideshow-item {
  display: flex;
}

.slideshow-item-description {
  width: 470px;
}

.slideshow-item-description h3 {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.slideshow-item-description p {
  width: 414px;
  font-size: 18px;
  line-height: 24px;
}

.slideshow-item-img {
  margin-left: auto;
  width: 630px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 41px;
}

.slideshow-item-img-current {
  display: flex;
  align-items: center;
}

.slider-bottom-container {
  display: flex;
  justify-content: space-between;
}

/* соцсети */

.socials {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* промо */

/* ладно, скорее всего, картинки действительно должны быть на фоне. 
хотя можно тут применить transform: translate, но это какой-то изврат. пиксель пёрфект ёпта */

.promo {
  margin-bottom: 80px;
}

.promo-header {
  width: 443px;
  margin: auto;
  margin-bottom: 56px;
}

.promo-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.promo-item {
  max-width: 570px;
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 28px 15px 0 40px;
  background-color: #FF7799;
  border-radius: 16px;
  box-sizing: border-box;
}

.promo-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 320px;
}

.promo-item-header {
  margin: 0;
  padding: 12px 0 16px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.promo-text p {
  margin: 0;
  padding-bottom: 32px;
}


.promo-img {
  align-self: flex-end;
}

/* популярное */

.popular {
  margin-bottom: 80px;
}

.popular-header {
  width: 527px;
  margin: auto;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  gap: 90px 30px;
  margin-top: 100px;
  padding: 0;
  list-style: none;
}

.products-list-card {
  width: 270px;
  background-color: #FCFCFC;
  border-radius: 8px;
}

.products-list-card-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-list-card-img {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  margin-top: -50px;
}

.products-list-card-title {
  margin-top: 16px;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.products-list-card-description {
  width: 190px;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  color: #565C66;
}

.product-purchase {
  display: flex;
  justify-content: space-between;
  padding: 0 40px 28px 40px;
}

.products-list-card-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

/* плюсы */

.advantages {
  width: 1170px;
  padding: 24px;
  margin-bottom: 80px;
  background-image: url("../img/advantages-background.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
  box-sizing: border-box;
}

.advantages-card {
  padding: 56px 40px;
  background-color: #FCFCFC;
  border-radius: 16px;
}

.advantages-header {
  width: 995px;
  margin: auto;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 30px;
  padding: 0;
  margin: 0;
  margin-top: 56px;
  color: #565C66;
  list-style: none;
}

.advantages-list-item {
  width: 506px;
  display: flex;
  align-content: center;
  box-sizing: border-box;
}

.advantages-list-item img {
  align-self: center;
  margin-right: 16px;
}

.advantages-list-item-description {
  margin: 0;
  padding: 0;
}

/* блог */

.blog-news-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.blog {
  min-width: 570px;
  padding: 32px;
  background-color: #FCFCFC;
  background-image: url("../img/blog.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 16px;
  box-sizing: border-box;
}

.blog-header {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: #565C66;
}

.blog p {
  width: 305px;
  margin: 13px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

/* рассылка */

.newsletter {
  width: 570px;
  color: #565C66;
  background-image: url("../img/newsletter-background-postal.png");
  background-repeat: no-repeat;
  border-radius: 16px;
}

.newsletter-card {
  width: 558px;
  padding: 26px;
  margin: 6px;
  background: #FCFCFC;
  border-radius: 16px;
  box-sizing: border-box;
}

.newsletter-card p {
  margin: 0 0 42px 0;
}

.newsletter-form {
  display: flex;
  justify-content: space-between;
}

.newsletter-form .field {
  width: 332px;
  height: 48px;
  border: 1px solid var(--basic-neutral);
  border-radius: 4px;
  }

/* доставка */

.delivery {
  margin-bottom: 80px;
  background-color: #FCFCFC;
  background-image: url("../img/delivery.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.delivery-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px;
  padding-left: 100px;
}

.delivery-description-container {
  width: 371px;
  text-align: left;
}

.delivery-description {
  color: #565C66;
}

.delivery-header {
  text-align: left;
}

.delivery-form-card {
  margin: 0;
  padding: 40px;
  background-color: #FCFCFC;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.delivery-form {
  display: grid;
  grid-template-columns: 117px 287px;
  gap: 0 16px;
}

.delivery-form .field {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.delivery-legend {
  width: 380px;
  margin: 0;
  color: #565C66;
}

.delivery-label {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.delivery-submit {
  margin: 0 auto;
  grid-column: 1 / -1;
  justify-self: center;
}

.delivery-address.field {
  grid-column: 1/-1;
}

.delivery-form input {
  height: 48px;
  border: 1px solid var(--basic-neutral);
  border-radius: 4px;
}

input::placeholder {
  padding: 14px 16px;
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-neutral);
}


/* контакты */

.contacts {
  padding: 64px;
  background-color: #FCFCFC;
  background-image: url("../img/contacts.jpg");
  background-size: 1170px 492px;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.contacts-card {
  width: 260px;
  padding: 40px;
  padding-bottom: 37px;
  background-color: #FCFCFC;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.contacts-address {
  font-style: normal;
}

.contacts-address p {
  color: #565C66;
  margin: 0;
  margin-bottom: 12px;
}

.contacts-address b {
  display: block;
  margin-bottom: 24px;
}

.contacts-address b, .contacts-phone { 
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.contacts-fineprint {
  font-size: 14px;
  line-height: 20px;
}

.contacts-address .contacts-fineprint {
  margin: 0;
}

/* .contacts-feedback.btn-extra {
  display: inline-block;
  margin-top: 29px;
  color: #FCFCFC;
} */

/* подвал */

.footer-container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 0;
}

.footer-container a {
  text-decoration: none;
  color: inherit;
  }

.footer-container ul {
  list-style: none;
}

.footer-socials {
  width: 104px;
  display: flex;
}

.footer-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: center;
  font-size: 14px;
  line-height: 20px;
}

.supply {
  font-weight: 700;
}

.credits {
  width: 200px;
  margin: 0 14px;
}

.credits-organization {
  font-size: 12px;
  line-height: 16px;
}

.credits-organization a {
  text-decoration: underline;
}

/* каталог */ 

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: underline;
}

.breadcrumbs-item {
  margin-right: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.breadcrumbs-item.current {
  text-decoration: none;
}

/* фильтры */

.filter, .control-label {
  font-weight: 400;
  font-size: 14px; 
  line-height: 20px;
}

.filter-set {
  width: 807px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-group.price {
  width: 196px;
}

.price-range {
  background-color: var(--special-exta-light);
  border-radius: 20px;
}

.filter-group.sorting {
  width: 196px;
}

.filter-group.fat {
  width: 367px;
}

.filter-group.filling {
  width: 596px;
}

.filter-group-list {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  margin: 0;
  list-style: none;
  background-color: var(--special-exta-light);
  border-radius: 20px;
}

.sorting-type {
  padding: 8px 16px;
  background-color: var(--special-exta-light);
  border: none;
  border-radius: 20px;
}



/* собсно каталог */

.catalogue-products-type {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.catalogue-pagination {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 41px 0;
}

.catalogue-pagination-more {
  grid-column-start: 2; 
  justify-self: center;
}

.catalogue-pagination-pages {
  display: flex;
  grid-column-start: 3; 
  align-items: center;
  justify-self: flex-end;
  list-style-type: none;
}

.catalogue-pagination-pages-item {
  margin: 0 8px;
}

.catalogue-pagination-pages-button.prev {
  margin: 0 16px;
  content: url(../img/Arrow-left.svg);
}

.catalogue-pagination-pages-button.next {
  margin: 0 16px;
  content: url(../img/Arrow-right.svg);
}
