@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

:root {
  --basic-extra-dark: #2D3440;
  --basic-dark: #565C66;
  --basic-neutral: #B9B9B9;
  --basic-light: #E7E7E7;
  --basic-extra-light: #FCFCFC;
  --basic-white: #FFFFFF;
  --special-extra-bright: #FF2F64;
  --special-bright: #FF4A78;
  --special-neutral: #FF7799;
  --special-light: #FEAFC3;
  --special-exta-light: #FFCBD8;
  --special-blue: #69A9FF;
  --special-yellow: #FCC850;
  --status-error: #EA5454;
  --status-warning: #FD912E;
  --status-success: #00E484;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 1366px;
  min-height: 100%;
  color: #2D3440;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  background-color: #FEAFC3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  flex-grow: 1;
  width: 1170px;
  margin: 0 auto;
}

.main-container a {
text-decoration: none;
color: inherit;
}

.heading-2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* навигация */

.navigation {
  width: 1170px;
  margin: auto;
  padding: 24px 0;
  display: flex;
  align-items: center;
  line-height: 20px;
}

.navigation a {
  text-decoration: none;
  color: #2D3440;
}

.navigation ul {
  list-style: none;
}

.navigation-left {
  margin-left: 16px;
  display: flex;
}

.navigation-left-item {
  padding: 8px 16px;
}

.navigation-right {
  max-width: 419px;
  display: flex;
  margin-left: auto;
  font-size: 14px;
}

.navigation-right-phone {
  font-size: 16px;
  font-weight: 700;
}

/* слайдер */


.slideshow-item {
  display: flex;
}

.slideshow-item-description {
  width: 470px;
}

.slideshow-item-description h3 {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.slideshow-item-description p {
  width: 414px;
  font-size: 18px;
  line-height: 24px;
}

.slideshow-item-img {
  margin-left: auto;
  width: 630px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 41px;
}

.slideshow-item-img-current {
  display: flex;
  align-items: center;
}

/* промо */

.promo-header {
  width: 443px;
  margin: auto;
}

.promo-container {
  display: flex;
  justify-content: space-between;
}

.promo-item {
  width: 570px;
  background-color: #FF7799;
  border-radius: 16px;
}

.promo-item-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

/* популярное */

.popular-header {
  width: 527px;
  margin: auto;
}

.popular-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  padding: 0;
  list-style: none;
}

.popular-list-item {
  width: 270px;
  background-color: #FCFCFC;
}

.popular-list-item-img {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.popular-list-item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.popular-list-item-description {
  text-align: center;
  color: #565C66;
}

.popular-list-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

/* плюсы */

.advantages {
  width: 1170px;
  background-image: url("../img/advantages-background.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
}

.advantages-card {
  width: 1122px;
  margin: 0 auto;
  background-color: #FCFCFC;
  border-radius: 16px;
}

.advantages-header {
  width: 995px;
  margin: auto;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  color: #565C66;
  list-style: none;
}

.advantages-list-item {
  width: 510px;
}

/* блог */

.blog-news-container {
  display: flex;
  justify-content: space-between;
}

.blog {
  width: 570px;
  background-color: #FCFCFC;
  background-image: url("../img/blog.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
}

.blog-header {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: #565C66;
}

.blog p {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

/* рассылка */

.newsletter {
  width: 570px;
  color: #565C66;
  background-image: url("../img/newsletter-background-postal.png");
  background-repeat: no-repeat;
  border-radius: 16px;
}

.newsletter-card {
  width: 558px;
  margin: 6px;
  background: #FCFCFC;
  border-radius: 16px;
}

/* доставка */

.delivery {
  background-color: #FCFCFC;
  background-image: url("../img/delivery.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
}

.delivery-container{
  display: flex;
}

.delivery-description-container {
  width: 371px;
  margin-left: 100px;
  text-align: left;
}

.delivery-description {
  color: #565C66;
}

.delivery-header {
  text-align: left;
}

.delivery-legend {
  color: #565C66;
}

.delivery-form {
  width: 500px;
  background-color: #FCFCFC;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.delivery-label {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

/* контакты */

.contacts {
  background-color: #FCFCFC;
  background-image: url("../img/contacts.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
}

.contacts-card {
  width: 343px;
  margin-left: 64px;
  background-color: #FCFCFC;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.contacts-address {
  font-style: normal;
}

.contacts-address p {
  color: #565C66;
}

.contacts-address b, .contacts-phone { 
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.contacts-fineprint {
  font-size: 14px;
  line-height: 20px;
}

.contacts-feedback {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FCFCFC;
}

/* подвал */

.footer-container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-container a {
  text-decoration: none;
  color: inherit;
  }

.footer-container ul {
  list-style: none;
}

.footer-socials {
  width: 104px;
  display: flex;
}

.footer-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: center;
  font-size: 14px;
  line-height: 20px;
}

.supply {
  font-weight: 700;
}

.credits {
  width: 200px;
}

.credits-organization {
  font-size: 12px;
  line-height: 16px;
}

.credits-organization a {
  text-decoration: underline;
}

/* каталог */ 

.breadcrumbs {
  display: flex;
  list-style: none;
  text-decoration: underline;
}

.breadcrumbs-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.breadcrumbs-item.current {
  text-decoration: none;
}

/* фильтры */

.filter, .control-label {
  font-weight: 400;
  font-size: 14px; 
  line-height: 20px;
}

.filter-set {
  width: 807px;
  display: flex;
  flex-wrap: wrap;
}

.filter-group .price {
  width: 100px;
}

.filter-group-list {
  display: flex;
  list-style: none;
}



/* собсно каталог */

.catalogue-products-type {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.catalogue-products-list { 
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalogue-products-list-card-img {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  width: 168px;
  height: 168px; 
}

.catalogue-products-list-card-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.catalogue-products-list-card-description {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #565C66;
}

.catalogue-products-list-card-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalogue-pagination-more {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

/* кнопки */

.slideshow-item-button {
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

.promo-item-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.newsletter-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FCFCFC;
  background-color: #FF2F64;
}

.filter-button {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}