@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

:root {
  --basic-extra-dark: #2D3440;
  --basic-dark: #565C66;
  --basic-neutral: #B9B9B9;
  --basic-light: #E7E7E7;
  --basic-extra-light: #FCFCFC;
  --basic-white: #FFFFFF;
  --special-extra-bright: #FF2F64;
  --special-bright: #FF4A78;
  --special-neutral: #FF7799;
  --special-light: #FEAFC3;
  --special-exta-light: #FFCBD8;
  --special-blue: #69A9FF;
  --special-yellow: #FCC850;
  --status-error: #EA5454;
  --status-warning: #FD912E;
  --status-success: #00E484;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 1366px;
  min-height: 100%;
  color: var(--basic-extra-dark);
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  background-color: var(--special-light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  flex-grow: 1;
  width: 1170px;
  margin: 0 auto;
}

.main-container a {
  text-decoration: none;
  color: inherit;
}

.heading-2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* ----навигация---- */

.navigation {
  width: 1170px;
  margin: auto;
  margin-bottom: 24px;
  padding: 24px 0;
  display: flex;
  align-items: center;
  line-height: 20px;
}

.navigation a {
  text-decoration: none;
  color: var(--basic-extra-dark);
}

.navigation ul {
  list-style: none;
}

.navigation-left {
  margin: 0;
  margin-left: 16px;
  padding: 0;
  display: flex;
}

.navigation-left-link {
  padding: 8px 16px;
  border-radius: 26px;
}

.navigation-left-item {
  position: relative;
}

.navigation-left-link:hover {
  background: rgba(252, 252, 252, 0.5);
}

.navigation-left-link:focus {
  background: rgba(252, 252, 252, 0.5);
  box-shadow: inset 0 0 0 2px var(--basic-extra-dark);
  outline: none;
}

.navigation-left-link:active {
  background: var(--basic-extra-light);
  box-shadow: none;
}

.navigation-left-link.current {
  color: var(--basic-extra-light);
  background: var(--special-extra-bright);
}

.popover-categories-open {
  position: absolute;
  top: 40px;
  z-index: 1;
  display: block;
  width: max-content;
  background-color: var(--basic-extra-light);
  border-radius: 4px;
  filter: drop-shadow(0px 8px 16px rgba(45, 52, 64, 0.12));
}

.popover-categories {
  display: none;
}

.popover-categories-list {
  padding: 8px 0;
  margin: 0;
}

.popover-category {
  padding: 8px 16px;
}

.popover-category:first-of-type {
  padding-bottom: 0;
  font-weight: 700;
}

.popover-category:first-of-type::after {
  display: block;
  height: 1px;
  margin-top: 12px;
  background-color: var(--basic-neutral);
  content: "";
}

.popover-category:hover {
  background-color: var(--special-exta-light);
}

.popover-category:active {
  background-color: var(--special-neutral);
}

.popover-category.current {
  color: var(--basic-extra-light);
  background-color: var(--special-extra-bright);
}
/* я не уверена, что тут именно класс current нужен, но не могу вспомнить, есть ли подходящий псевдокласс */

.navigation-right {
  display: flex;
  align-content: center;
  margin: 0;
  margin-left: auto;
  padding: 0;
  font-size: 14px;
}

.navigation-right-item {
  position: relative;
  align-self: center;
  margin-left: 18px;
}

.navigation-right-phone {
  font-size: 16px;
  font-weight: 700;
}

.navigation-right-link {
  display: flex;
  position: relative;
  box-sizing: border-box;
  padding: 6px 16px;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 26px;
}

.navigation-right-link:hover {
  background: rgba(252, 252, 252, 0.5);
}

.navigation-right-link:focus {
  background: rgba(252, 252, 252, 0.5);
  box-shadow: inset 0 0 0 2px var(--basic-extra-dark);
  outline: none;
}

.navigation-right-link:active {
  background: var(--basic-extra-light);
  box-shadow: none;
}

.navigation-right-link.search {
  width: 32px;
  height: 32px;
  padding: 7px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center;
}

/* поповер */

.popover {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 1;
  display: block;
  background-color: var(--basic-extra-light);
  border-radius: 4px;
  filter: drop-shadow(0px 15px 40px rgba(45, 52, 64, 0.12));
}

.popover-closed {
  display: none;
}

/* поповер поиска */

.popover-search {
  width: 356px;
  box-sizing: border-box;
  padding: 24px 16px;
}

.popover-search .field {
  width: -webkit-fill-available;
  width: -moz-available;
  -webkit-appearance: none;
}

.popover-search .field:focus {
  box-shadow: inset 0 0 0 1px var(--basic-neutral);
}

.popover-search .field::-webkit-search-cancel-button{
  position: absolute;
  right: 13px;
  height: 16px;
  width: 16px;
  opacity: 0.4!important;
  background-image: url("../img/cross.svg");
  background-size: 16px 16px;
  pointer-events: auto!important;
  -webkit-appearance: none;
  cursor: pointer;
}

/* работает только в хроме, щито делать */

.popover-search .field::-webkit-search-cancel-button:hover {
  opacity: 1!important;
}

.navigation-right-link.log-in {
  padding-left: 40px;
  background-image: url("../img/log-in.svg");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center left 16px;
}

/* поповер входа */

.popover-login {
  width: 420px;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 0 48px 50px 48px;
}

.popover-login-heading {
  margin-top: 48px;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.login-form .field {
  margin-bottom: 16px;
}

.login-form .btn-extra {
  margin-right: 19px;
}

.login-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.login-form .login-link {
  color: inherit;
  text-decoration: underline;
}

.navigation-right-link.cart {
  padding-left: 40px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center left 16px;
}

.navigation-right-link.cart-full {
  padding-left: 40px;
  background-image: url("../img/cart-full.svg");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center left 16px;
}

.navigation-right-link-cart-icon {
  margin-right: 6px;
}

.popover-cart-empty {
  position: absolute;
  top: 40px;
  right: 0;
  box-sizing: border-box;
  width: 288px;
  padding: 48px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  background-color: var(--basic-extra-light);
  border-radius: 4px;
  filter: drop-shadow(0px 8px 16px rgba(45, 52, 64, 0.12));
}

.popover-cart {
  width: 440px;
  padding: 48px;
  padding-bottom: 44px;
  box-sizing: border-box;
}

.cart-content h2 {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
}

.cart-content-list {
  padding: 32px 0;
  margin-bottom: 28px;
  border-bottom: 1px solid var(--basic-light);
}

.cart-item {
  display: grid;
  grid-template-columns: 1fr 87px 16px;
  column-gap: 16px;
  align-items: center;
}
/* я что-то невероятно тупанула, можно же весь список сделать гридом. штош. оставить так или сделать нормально? */

.cart-item-link {
  display: flex;
  align-items: center;
}

.cart-item:not(:last-of-type) {
  margin-bottom: 24px;
}

.cart-item-title {
  margin: 0;
  font-size: 18px;
}

.cart-item-img {
  margin-right: 16px;
}

.cart-item-amount {
  display: flex;
  color: var(--basic-neutral);
  font-size: 14px;
  line-height: 20px;
}

.cart-item-amount p {
  margin: 0;
}

.cart-item-price {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.cart-checkout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-total {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.cart-checkout .btn-extra {
  color: var(--basic-extra-light);
}

.cart-button-delete {
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-image: url("../img/cross.svg");
  background-size: 16px;
  border: none;
  cursor: pointer;
}

/* ----слайдшоу---- */

.slideshow {
  margin-bottom: 80px;
  position: relative;
}

.slideshow-items {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-left: 70px;
  list-style-type: none;
}

.slideshow-item {
  flex: none;
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.slideshow-item:last-child {
  margin-right: 0;
}

.slideshow-item-description {
  display: none;
}

.slideshow-item-img {
  flex: none;
  width: 100px;
  opacity: 0.4;
}

.slideshow-item-img img {
  display: block;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.slideshow-item.active {
  order: -1;
  flex-grow: 1;
}

.slideshow-item.active .slideshow-item-description {
  display: block;
  width: 470px;
  margin-right: 20px;
}

.slideshow-item-description h3 {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.slideshow-item-description p {
  width: 414px;
  font-size: 18px;
  line-height: 24px;
}
 
.slideshow-item.active .slideshow-item-img {
  width: 312px;
  opacity: 1;
}

/* кнопки слайдшоу */

.slideshow-controls {
  position: absolute;
  top: 50%;
  right: 280px;
  transform: translateY(-50%);
  width: 350px;
  display: flex;
  justify-content: space-between;
}

.slideshow-item-arrow {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background: rgba(252, 252, 252, 0.3);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid var(--basic-extra-light);
  box-sizing: border-box;
  border-radius: 26px;
  cursor: pointer;
}

.slideshow-item-arrow path {
  fill: var(--basic-extra-light);
}

.slideshow-item-arrow:hover {
  background: var(--basic-extra-light);
}

.slideshow-item-arrow:hover path {
  fill: var(--basic-extra-dark);
}

.slideshow-item-arrow:focus {
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid var(--basic-extra-dark);
}

.slideshow-item-arrow:focus path {
  fill: var(--basic-extra-dark);
}

.slideshow-item-arrow:disabled {
  background: rgba(252, 252, 252, 0.3);
  opacity: 0.4;
  border: 2px solid var(--basic-extra-light);
  cursor: auto;
}

.slideshow-item-arrow:disabled:hover path {
  fill: var(--basic-extra-light);
}

.slideshow-bottom-container {
  display: flex;
  justify-content: space-between;
}

/* пагинация слайдшоу */

.slideshow-pagination {
  display: flex;
}

.slideshow-pagination-link {
  width: 12px;
  height: 12px;
  margin-right: 8px;
  border-radius: 100px;
  background: rgba(252, 252, 252, 0.3);
  outline: none;
  box-sizing: border-box;
}

.slideshow-pagination-link.current {
  background: var(--basic-extra-light);
}

.slideshow-pagination-link:hover {
  background: rgba(252, 252, 252, 0.3);
  border: 1px solid var(--basic-extra-light);
}

.slideshow-pagination-link:focus {
  background: rgba(252, 252, 252, 0.3);
  border: 1px solid var(--basic-extra-dark);
}

/* ----соцсети---- */

.socials {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

 .socials-link-icon {
  display: inline-block;
  margin-left: 12px;
  outline: none;
 }

 .socials-link-icon svg {
  background-clip: padding-box;
  fill: var(--basic-extra-light);
  border: 2px solid rgba(252, 252, 252, 0.2);
  border-radius: 100px;
} 

.socials-link-icon:hover svg {
  border: 2px solid rgba(252, 252, 252, 0.2);
  background-color: var(--basic-extra-dark);
}

.socials-link-icon:focus svg {
  background-color: var(--basic-extra-dark);
  border: 2px solid var(--basic-extra-dark);
}
/* как избавиться от артефакта? */

/* ----промо---- */

.promo {
  margin-bottom: 80px;
}

.promo-header {
  width: 443px;
  margin: auto;
  margin-bottom: 56px;
}

.promo-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.promo-item {
  max-width: 570px;
  padding: 28px 15px 40px 40px;
  background-color: var(--special-neutral);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  box-sizing: border-box;
}

.promo-item.raspberry {
  background-image: url("../img/promo-raspberry.png");
  background-size: 181px auto;
  background-position: right 15px bottom;
}

.promo-item.marshmallow {
  background-image: url("../img/promo-marshmallow.png");
  background-size: 232px auto;
  background-position: right 7px bottom;
}

.promo-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 320px;
}

.promo-item-header {
  margin: 0;
  padding: 12px 0 16px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.promo-text p {
  margin: 0;
  padding-bottom: 32px;
}

.promo-img {
  align-self: flex-end;
}

/* ----популярное---- */

.popular {
  margin-bottom: 80px;
}

.popular-header {
  width: 527px;
  margin: auto;
}

/* ----карточки товаров--- */

.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  gap: 90px 30px;
  margin-top: 100px;
  padding: 0;
  list-style: none;
}

.products-list-card {
  width: 270px;
  background-color: var(--basic-extra-light);
  border-radius: 8px;
}

.products-list-card:focus-within {
  outline: 2px solid var(--basic-extra-dark);
}

.products-list-card-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-list-card-link:focus {
  outline: none;
}

.products-list-card-img {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  margin-top: -50px;
}

.products-list-card-title {
  margin-top: 16px;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.products-list-card-description {
  width: 190px;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  color: var(--basic-dark);
}

.product-purchase {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 24px 40px;
}

.products-list-card-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

/* ----преимущества---- */

.advantages {
  width: 1170px;
  padding: 24px;
  margin-bottom: 80px;
  background-image: url("../img/advantages-background.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
  box-sizing: border-box;
}

.advantages-card {
  padding: 56px 40px 16px 40px;
  background-color: var(--basic-extra-light);
  border-radius: 16px;
}

.advantages-header {
  width: 995px;
  margin: auto;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 56px;
  color: var(--basic-dark);
  list-style: none;
}

.advantages-list-item {
  width: 506px;
  display: flex;
  align-content: center;
  box-sizing: border-box;
  padding-left: 64px;
  margin-bottom: 40px;
  background-repeat: no-repeat;
  background-size: 48px 48px;
  background-position: left;
}

.advantages-list-item:nth-child(odd) {   
  margin-right: 30px;
  }

.advantages-list-item.popsicle {
  background-image: url("../img/popsicle.svg");
}

.advantages-list-item.cow {
  background-image: url("../img/cow.svg");
}

.advantages-list-item.leaf {
  background-image: url("../img/leaf.svg");
}

.advantages-list-item.thermometer {
  background-image: url("../img/thermometer.svg");
}

.advantages-list-item-description {
  margin: 0;
  padding: 0;
}

/* ----блог---- */

.blog-news-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.blog {
  min-width: 570px;
  padding: 32px;
  background-color: var(--basic-extra-light);
  background-image: url("../img/blog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  box-sizing: border-box;
}

.blog-header {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: var(--basic-dark);
}

.blog p {
  width: 305px;
  margin: 13px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

/* ----рассылка---- */

.newsletter {
  width: 570px;
  padding: 6px;
  color: var(--basic-dark);
  background-color: var(--basic-extra-light);
  background-image: url("../img/newsletter-background-postal.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  box-sizing: border-box;
}

.newsletter-card {
  padding: 26px;
  background: var(--basic-extra-light);
  border-radius: 16px;
  box-sizing: border-box;
}

.newsletter-card p {
  margin: 0 0 42px 0;
}

.newsletter-form {
  display: flex;
  justify-content: space-between;
}

.newsletter-form .field {
  width: 316px;
  align-self: center;
}

/* ----доставка---- */

.delivery {
  margin-bottom: 80px;
  background-color: var(--basic-extra-light);
  background-image: url("../img/delivery.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.delivery-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px;
  padding-left: 100px;
}

.delivery-description-container {
  width: 371px;
  text-align: left;
}

.delivery-description {
  color: var(--basic-dark);
}

.delivery-header {
  text-align: left;
}

.delivery-form-card {
  margin: 0;
  padding: 40px;
  background-color: var(--basic-extra-light);
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.delivery-form {
  display: grid;
  grid-template-columns: 117px 287px;
  gap: 0 16px;
}

.delivery-info {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 16px;
  margin-top: 0;
}

.delivery-legend {
  width: 380px;
  margin: 0;
  margin-bottom: 32px;
  color: var(--basic-dark);
}

.delivery-form-label {
  position: relative;
  padding-right: 16px;
  margin-bottom: 8px;
}

.delivery-label {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.tooltip-icon {
  position: absolute;
  width: 14px;
  height: 14px;
  margin-top: 3px;
  margin-left: 4px;  
  border: none;
  background-image: url("../img/info-label.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
} 

.tooltip {
  position: absolute;
  top: -7px;
  transform: translateX(16px);
  z-index: 1;
  box-sizing: border-box;
  max-width: 162px;
  /* я не понимаю, откуда он берёт ширину, по умолчанию же спан тянется, пока тянется */
  padding: 10px 8px;
  color: var(--basic-dark);
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  background: var(--basic-white);
  border: 1px solid var(--basic-neutral);
  box-shadow: 0px 4px 8px rgba(194, 194, 194, 0.2);
}

.tooltip::before {
  position: absolute;
  top: 10px;
  left: -6.8px;
  transform: rotate(45deg);
  z-index: 3;
  display: block;
  width: 10px;
  height: 10px;
  content: "";
  background-color: var(--basic-white);
  border-left: 1px solid var(--basic-neutral);
  border-bottom: 1px solid var(--basic-neutral);
}

.delivery-submit {
  margin: 0 auto;
  grid-column: 1 / -1;
  justify-self: center;
}

.delivery-address {
  grid-column: 1/-1;
}

.field {
  height: 48px;
  padding: 0;
  padding-left: 16px;
  color: var(--basic-extra-dark);
  font-family: inherit;
  font-size: 16px;
  line-height: normal;
  border: none;
  box-shadow: inset 0 0 0 1px var(--basic-neutral);
  border-radius: 4px;
}

.field::placeholder {
  color: var(--basic-neutral);
}

.field:hover {
  box-shadow: inset 0 0 0 1px var(--basic-extra-dark);
}

.field:focus {
  box-shadow: inset 0 0 0 2px var(--basic-extra-dark);
  outline: none;
}

/* .field:invalid:not(:placeholder-shown) {
  box-shadow: inset 0 0 0 1px var(--status-error);
} */

.field:user-invalid {
  box-shadow: inset 0 0 0 1px var(--status-error);
}
/* в принципе, работает как и то, что выше, но селектор покороче :D */

.field:focus:invalid {
  box-shadow: inset 0 0 0 1px var(--status-error);
}

.field:hover:invalid {
  box-shadow: inset 0 0 0 2px var(--status-error);
}

.field:disabled, .field:disabled:hover {
  background-color: var(--basic-light);
  box-shadow: inset 0 0 0 1px var(--basic-neutral);
}

/* ----контакты---- */

.contacts {
  padding: 64px;
  background-color: var(--basic-extra-light);
  background-image: url("../img/contacts.jpg");
  background-size: 1170px 492px;
  background-repeat: no-repeat;
  border-radius: 16px;
}

.contacts-card {
  width: 260px;
  padding: 40px;
  padding-bottom: 37px;
  background-color: var(--basic-extra-light);
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.contacts-address {
  font-style: normal;
  margin-bottom: 28px;
}

.contacts-address p {
  color: var(--basic-dark);
  margin: 0;
  margin-bottom: 12px;
}

.contacts-address b {
  display: block;
  margin-bottom: 24px;
}

.contacts-address b, .contacts-phone { 
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.contacts-fineprint {
  font-size: 14px;
  line-height: 20px;
}

.contacts-address .contacts-fineprint {
  margin: 0;
}

.contacts-feedback.btn-extra {
  color: var(--basic-extra-light);
}

/* ----подвал---- */

.footer-container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 0;
}

.footer-container a {
  text-decoration: none;
  color: inherit;
  }

.footer-container ul {
  list-style: none;
}

.footer-socials {
  width: 104px;
  display: flex;
}

.footer-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: center;
  padding: 0;
  padding-left: 24px;
  font-size: 14px;
  line-height: 20px;
}

.supply {
  font-weight: 700;
}

.footer-menu-item-link.supply {
  position: relative;
}

.footer-menu-item-link.supply:before {
  content: "";
  position: absolute;
  transform: translate(-24px, 2px);
  width: 16px;
  height: 16px;
  background-image: url("../img/heart-fill.svg");
  background-repeat: no-repeat;
}

.credits {
  width: 200px;
  margin: 0 14px;
}

.credits-organization {
  font-size: 12px;
  line-height: 16px;
}

.credits-organization a {
  text-decoration: underline;
}

/* ----каталог---- */ 

/* хлебные крошки */

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-decoration: underline;
}

.breadcrumbs-item.current {
  text-decoration: none;
}

.breadcrumbs-item-link {
  padding-right: 28px;
  position: relative;
}

.breadcrumbs-item:not(:last-child) .breadcrumbs-item-link::after {
  content: "";
}

.breadcrumbs-item-link::after {
  position: absolute;
  right: 8px;
  top: 4px;
  width: 12px;
  height: 12px;
  background-image: url("../img/chevrons-right.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; 
  cursor: auto;
}

/* ----фильтры---- */

.filter, .control-label {
  font-weight: 400;
  font-size: 14px; 
  line-height: 20px;
}

.filter-set {
  width: 807px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.filter-group {
  margin: 0px;
  padding: 0px;
  border: none;
  margin-bottom: 16px;
}

.filter-group-list {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px 16px;
  margin: 0;
  list-style: none;
  background-color: var(--special-exta-light);
  border-radius: 20px;
}

.filter-group-name {
  padding: 0px;
  margin: 0px;
  padding-left: 16px;
  margin-bottom: 8px;
}

.filter-button {
  align-self: center;
}

.select-sorting {
  padding: 8px 36px 8px 16px;
  width: 196px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: inherit;
  border: none;
  border-radius: 20px;
  appearance: none;
  -webkit-appearance: none;
  background-color: rgba(252, 252, 252, 0.3);
  background-image: url("../img/arrow-down.svg");
  background-position: center right 13px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.select-sorting:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.select-sorting:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px var(--basic-extra-light);
  box-sizing: border-box;
}

/* слайдер в фильтрах */

.filter-group.price {
  width: 196px;
}

.price-range-wrapper {
  padding: 17px 16px;
  background-color: var(--special-exta-light);
  border: none;
  border-radius: 20px;
}

.price-range-scale {
  position: relative;
  height: 2px;
  margin: auto;
  border-radius: 2px;
  background-color:rgba(86, 92, 102, 0.3);
}

.price-range-bar {
  position: absolute;
  height: 2px;
  background-color: var(--basic-dark);
}

.range-toggle {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: var(--basic-extra-dark);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}


.range-toggle-inside {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 4px;
  height: 4px;
  background-color: var(--basic-extra-light);
  border-radius: 50%;
  border: none;
}

.range-toggle:hover {
  background-color: var(--basic-extra-light);
}

.range-toggle:hover .range-toggle-inside {
  background-color: var(--basic-extra-dark);
}

.range-toggle:focus {
  box-shadow: inset 0 0 0 2px var(--basic-extra-dark);
}

.range-toggle:active, .range-toggle:active .range-toggle-inside {
  background-color: var(--basic-extra-dark);
}

.toggle-min {
  top: -7px;
  left: -8px;
}

.toggle-max {
  top: -7px;
  right: -8px;
}

.price-range-input-wrapper {
  display: flex;
}

.catalog-filter-label {
  display: flex;
}

.range-input {
  width: 30px;
  text-align: center;
  padding: 0 0 0 2px;
  margin-bottom: 8px;
  color: inherit;
  font: inherit;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-inner-spin-button,
.range-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* радио-кнопки жыр */

/* что делать с кнопками на фокусе? они вообще не выделяются при табании */

.control {
  position: relative;
  display: block;
  padding-left: 24px;
  padding-right: 16px;
}

.control-mark-radio {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid var(--basic-extra-dark);
  border-radius: 50%;
  cursor: pointer;
}

/* состояния */

.control:hover .control-mark-radio {
  border: 1px solid var(--basic-extra-light);
}

.control-input[type="radio"]:disabled + .control-mark-radio {
  border: 1px solid var(--basic-extra-dark);
  opacity: 0.4;
  pointer-events: none;
}

.control-input[type="radio"]:disabled ~ .control-label {
  opacity: 0.4;
}

.control-input[type="radio"]:checked + .control-mark-radio::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 6px;
  height: 6px;
  background-color: var(--basic-extra-dark);
  border-radius: 50%;
  content: "";
}

.control:hover .control-input[type="radio"]:checked + .control-mark-radio::before {
  background-color: var(--basic-extra-light);
}

.control:hover .control-input[type=radio]:disabled:checked + .control-mark-radio::before {
  background-color: var(--basic-extra-dark);
}

/* чекбоксы */

.checkbox {
  display: flex;
  align-items: center;
  padding: 0;
  margin-right: 16px;
  color: inherit;
}

.control-mark-checkbox {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.control-mark-checkbox .checked {
  opacity: 0;
}

.control-input[type="checkbox"]:checked + .control-mark-checkbox .checked {
  opacity: 1;
}

.control-input[type="checkbox"]:checked + .control-mark-checkbox .unchecked {
  opacity: 0;
}

.checkbox:hover .control-mark-checkbox {
  color: var(--basic-extra-light);
}

.control-input[type="checkbox"]:disabled + .control-mark-checkbox {
  opacity: 0.4;
}

.control-input[type="checkbox"]:disabled ~ .control-label {
  opacity: 0.4;
}

.checkbox:hover .control-input[type="checkbox"]:disabled + .control-mark-checkbox {
  color: var(--basic-extra-dark);
  pointer-events: none;
}




/* ----собсно каталог---- */

.catalogue-products-type {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.catalogue-pagination {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 41px 0 81px 0;
  border-bottom: 1px solid rgba(252, 252, 252, 0.3);
}

.catalogue-pagination-more {
  grid-column-start: 2; 
  justify-self: center;
}

.catalogue-pagination-pages {
  display: flex;
  grid-column-start: 3; 
  align-items: center;
  justify-self: flex-end;
  margin: 0;
  list-style-type: none;
}

.catalogue-pagination-pages-button.prev {
  margin-right: 16px;
  content: url("../img/arrow-left.svg");
  cursor: pointer;
}

.catalogue-pagination-pages-button.next {
  margin-left: 16px;
  content: url("../img/arrow-right.svg");
  cursor: pointer;
}

.catalogue-pagination-pages-button.disabled {
  opacity: 0.2;
  pointer-events: none;
} 

.catalogue-pagination-pages-item {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalogue-pagination-pages-item.current {
  background: var(--basic-extra-light);
  border-radius: 50px;
}

.catalogue-pagination-pages-item:hover {
  background: rgba(252, 252, 252, 0.3);
  box-shadow: inset 0 0 0 1px var(--basic-extra-light);
  border-radius: 50px;
}

.catalogue-pagination-pages-item:focus {
  background: rgba(252, 252, 252, 0.3);
  box-shadow: inset 0 0 0 1px var(--basic-extra-dark);
  border-radius: 50px;
}

/* ----кнопки---- */

.btn-main {
  display: inline-block;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 12px 32px;
  background: var(--basic-extra-light);
  background-clip: padding-box;
  border: 4px solid rgba(252, 252, 252, 0.4);
  outline: none;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  cursor: pointer;
}

.btn-main:hover {
  background: rgba(252, 252, 252, 0.4);
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0px 4px 15px rgba(133, 133, 133, 0.15);
}

.btn-main:focus {
  padding: 14px 34px;
  background: var(--basic-extra-light);
  border: 2px solid var(--basic-extra-dark);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
}

.btn-main:disabled {
  color: var(--basic-neutral);
  background: var(--basic-light);
  border: 4px solid rgba(252, 252, 252, 0.4);
  cursor: auto;
}

.btn-extra {
  display: inline-block;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 12px 32px;
  color: var(--basic-extra-light);
  background: var(--special-extra-bright);
  background-clip: padding-box;
  border: 4px solid rgba(255, 47, 100, 0.3); 
  outline: none;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  cursor: pointer;
}

.btn-extra:hover {
  color: var(--basic-extra-dark);
  background: rgba(252, 252, 252, 0.3);
  border: 4px solid var(--special-extra-bright);
  box-shadow: none;
}

.btn-extra:focus {
  padding: 14px 34px;
  color: var(--basic-extra-light);
  background: var(--special-extra-bright);
  border: 2px solid var(--basic-extra-dark);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
}

.btn-extra:disabled {
  color: var(--basic-dark);
  background: var(--basic-neutral);
  border: 4px solid rgba(185, 185, 185, 0.3); 
  box-shadow: none;
  cursor: auto;
}

.filter-button {
  display: inline-block;
  align-self: center;
  box-sizing: border-box;
  padding: 8px 53px;
  margin-top: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid var(--basic-extra-light);
  border-radius: 20px;
  outline: none;
  
  cursor: pointer;
}

.filter-button:hover {
  background: var(--basic-extra-light);
  border: 2px solid rgba(252, 252, 252, 0.3);
}

.filter-button:focus {
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid var(--basic-extra-dark);
}

.filter-button:disabled {
  opacity: 0.4;
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid var(--basic-extra-light);
  cursor: auto;
}

.btn-cart {
  display: block;
  position: relative;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  padding: 8px;
  background-color: var(--special-extra-bright);
  border-radius: 26px;
  outline: none;
  cursor: pointer;
}

.btn-cart-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.btn-cart-icon path {
  fill: var(--basic-extra-light);
}

.btn-cart:hover {
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid var(--special-extra-bright);
}

.btn-cart:hover path {
  fill: var(--basic-extra-dark);
}

.btn-cart:focus {
  background: var(--special-extra-bright);
  border: 2px solid var(--basic-extra-dark);
}

.btn-cart:focus path {
  fill: var(--basic-extra-light);
}

.btn-cart.disabled {
  background-color: var(--basic-neutral);
  border: 2px solid var(--basic-neutral);
  pointer-events: none;
}

.btn-cart.disabled path {
  fill: var(--basic-dark);
}

/* ---модальное окно--- */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 52, 64, 0.3);
}

.modal-container-closed {
  display: none;
}

.modal-feedback {
  position: relative;
  display: block;
  width: 570px;
  margin: auto;
  background-color: var(--basic-extra-light);
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.modal-close-button {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  background-image: url("../img/cross.svg");
  background-size: 20px 20px;
  background-repeat: none;
  cursor: pointer;
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 0 64px 66px 64px;
}

.modal-heading {
  margin: 32px 64px;
  margin-top: 64px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.modal-form .field {
  margin-bottom: 16px;
}

.modal-form-msg {
  height: 149px;
  padding-top: 14px;
  margin-bottom: 32px;
}

.modal-form .btn-extra {
  align-self: flex-end;
}

